[submodule "assets/dependencies/cryptoauthlib"]
	path = assets/dependencies/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib
	branch = master
[submodule "assets/dependencies/micro-ecc"]
	path = assets/dependencies/micro-ecc
	url = https://github.com/kmackay/micro-ecc
	branch = master
